@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}





/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.hero-unit {
  padding: 10px;
  margin-top: -20px;
  margin-left: 60px;
  margin-right: 60px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eeeeee;
  border:1px solid #cacaca;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  text-align: center;
  color: #000066;
}

h2 {
  font-size: 2.5em;
  letter-spacing: -1px;
  font-weight: normal;
  color: #669900;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #669900;
}

footer small {
  float: left;
  margin-left: 25px;
}

footer ul {
  float: right;
  list-style: none;
  margin-right: 45px;
}

footer ul li {
  float: left;
  margin-left: 45px;
}