<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav role="navigation" class="navbar navbar-inverse">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
       
    <a href="https://sites.google.com/a/kaplan.edu/techservice/home/"
    class="navbar-brand">Client Services</a>


        <a href="https://docs.google.com/a/kaplan.edu/document/d/1eF43AzPKSZBbvSVzyzRs9IFN6FjGkfLtm10k-iCHKAE/edit" 
        class="navbar-brand">Win 7 Master</a>

        <a href="https://docs.google.com/a/kaplan.edu/document/d/17E2W3fJNiaEgtgcTxp2QXPNXqTe46uXII9QY_tNnDBI/edit" 
        class="navbar-brand">Chrome Box Meetings Guide</a>

        <a href="https://docs.google.com/a/kaplan.edu/spreadsheets/d/12eAQKMKHgRMfTjmBgGdHpdViQhdgJywwfxXbq6C0nsI/edit#gid=123498962" 
        class="navbar-brand">CWF Win 7 Tracking</a>

        <a href="https://sites.google.com/a/kaplan.com/network-telecom/public-documen/files-for-public-use" 
        class="navbar-brand">NetOps/Telecom Site</a>

        <a href="https://docs.google.com/a/kaplan.edu/spreadsheet/ccc?key=0Ahb9Sn9F6fh9dGFWYllKRmZBdVA0eWhsY2ROblp4N3c#gid=1"
        class="navbar-brand">Duration Metrics</a>

    </div>
    <!-- Collection of nav links, forms, and other content for toggling -->
    
</nav>
<div class="center hero-unit container">

  <h1>Kaplan Desktop Ops Sound-Off Board!</h1>

<%# <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<div class="container">
    <!-- Example row of columns -->
  <div class="row">
    <div class ="col-md-4">
    	<img src="http://www.financialplanningguide.com.au/custom/files/media/kaplan_logo_man_with_k.jpg">

        <h2>About This Site</h2>
        <p>Welcome to Kaplan's Tech Sound-Off Board!Let us know how you really feel.  </p>
        <hip><a class="btn btn-default" href="../about" role="button">View More instructions&raquo;</a></p>
  
    </div>
    <div class="col-md-8">
      <%=yield%>
    </div>
  </div>
</div>     
<footer class="footer">
  <small>
    
    Matt Salamon 2014  |   All Right Reserved   |   Only the site admin can edit, create or destroy a post

  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'http://mattsalamon.herokuapp.com' %></li>
      <li><%= link_to "Contact", 'http://mattsalamon.herokuapp.com' %></li>
      <li><a href="http://msalamon.byethost13.com/">My Blog</a></li>
    </ul>
  </nav>
</footer>



</body>
</html>
